.heading {
  font-size: 15px;
}

.custom.mat-card {
  margin-left: 50px !important;
  margin-top: 60px !important;
  height: 325px;
  width: auto;
  padding: 0 !important;
}

@media only screen and (max-width: 375px) and (orientation: portrait) {
  .custom.mat-card {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 60px !important;
    height: 325px;
    width: auto;
    padding: 0 !important;
  }
}

@media screen and (max-device-width: 800px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .custom.mat-card {
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-top: 60px !important;
    height: 325px;
    width: 60%;
    padding: 0 !important;
  }
}


img {
  width: 100%;
  margin-bottom: 30px;
  height: 48%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.body {
  font-size: 14px;
  font-weight: 300;
  margin: 0 50px 0 0;
}

@media only screen and (max-width: 375px) {
  .body {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 0 0;
  }
}

.country-heading {
  font-size: 16px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-left-60 {
  margin-left: 60px;
}

input {
  color: var(--input-default);
}

.mat-option {
  color: var(--input-default);
  background-color: var(--element-default);
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-minus-10 {
  margin-bottom: -10px;
}

.line-spacing {
  line-height: 25px;
}

.top-bar {
  margin: 35px 50px -35px 50px;
}

@media only screen and (max-width: 375px) {
  .top-bar {
    margin: 35px 20px -35px 20px;
  }
}

.option-text {
  color: var(--text-default);
}

.click-cursor {
  cursor: pointer;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: var(--element-default);
  color: var(--text-default);
}

::ng-deep .mat-input-element {
  color: var(--input-default);
}

::ng-deep .mat-form-field-label {
  color: var(--text-default);
}

::ng-deep .mat-select-content {
  color: var(--text-default);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--input-default);
}

::ng-deep .mat-select-value-text {
  color: var(--text-default);
}







