<div class="container-fluid">
  <app-top-panel></app-top-panel>

  <div class="row top-bar">
    <mat-form-field appearance="outline"
                    class="col-xs-12 col-sm-4">
      <mat-label>Search for a country</mat-label>
      <input matInput
             placeholder="Search"
             type="text"
             [formControl]="searchFormControl"
             (keyup)="filterCountriesList()">
      <mat-icon matPrefix
                class="margin-right-10">
        search
      </mat-icon>
    </mat-form-field>

    <div class="col-xs-12 col-sm-4"></div>
    <mat-form-field appearance="outline"
                    class="col-xs-12 col-sm-4">
      <mat-label>Filter by Region</mat-label>
      <mat-select [formControl]="selectRegionFormControl"
                  (selectionChange)="filterCountriesByRegion()">
        <mat-option value="">
          Choose a Region
        </mat-option>
        <mat-option *ngFor="let region of listOfRegions" [value]="region">
          {{region}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row body">
    <div *ngFor="let country of filteredListOfCountries | async"
         class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <mat-card (click)="showCountryDetails(country)"
                class="custom click-cursor">
        <img [src]="country.flag"
             alt="{{country.name}} flag">
        <div class="country-heading font-bold margin-left-25 margin-bottom-10">
          {{country.name}}
        </div>
        <div class="margin-left-25 line-spacing">
          <span class="font-semi-bold">Population:</span> {{country.population}}<br>
          <span class="font-semi-bold">Region:</span> {{country.region}}<br>
          <span class="font-semi-bold">Capital:</span> {{country.capital}}
        </div>
      </mat-card>
    </div>
  </div>

</div>
