@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  margin: auto;
  font-family: 'Nunito Sans', sans-serif, "Helvetica Neue";
  background-color: hsl(0, 0%, 98%);
  max-width: 1440px;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 800;
}

.font-semi-bold {
  font-weight: 600;
}

.white {
  background-color: hsl(0, 0%, 100%);
}

.light-grey {
  background-color: hsl(0, 0%, 98%);
}

.dark-grey-light-mode-input {
  color: hsl(0, 0%, 52%);
}

.dark-blue-light-mode-text {
  color: hsl(200, 15%, 8%);
}

.dark-blue-dark-mode-background {
  background-color: hsl(207, 26%, 17%);
}

.dark-blue-dark-mode-elements {
  background-color: hsl(209, 23%, 22%);
}
