@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  margin: auto;
  font-family: 'Nunito Sans', sans-serif, "Helvetica Neue";
  background-color: var(--background-default);
  color: var(--text-default);
  max-width: 1440px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: var(--element-default);
  color: var(--text-default);
}

.mat-card {
  background-color: var(--element-default);
  color: var(--text-default);
}

.font-light {
  font-weight: 300;
  font-family: 'Nunito Sans', sans-serif, "Helvetica Neue";
}

.font-bold {
  font-weight: 800;
  font-family: 'Nunito Sans', sans-serif, "Helvetica Neue";
}

.font-semi-bold {
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif, "Helvetica Neue";
}

:root {
  --background-default: hsl(0, 0%, 100%);
  --text-default: hsl(200, 15%, 8%);
  --element-default: hsl(0, 0%, 100%);
  --input-default: hsl(0, 0%, 52%);

  --background-dark: hsl(207, 26%, 17%);
  --text-dark: hsl(0, 0%, 100%);
  --element-dark:  hsl(209, 23%, 22%);
  --input-dark: hsl(0, 0%, 100%);
}


